.back {
  font-size: 1.2rem;
  margin: 0;
  color: white;
  text-shadow: 0 0 1px darkgray;
  text-decoration: none;
}
.back:hover {
  opacity: 1;
  color: gainsboro;
  transition: color 0.5s;
}
.trail {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0rem;
  top: 1rem;
  z-index: 1000;
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: url(./assets/scroll.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  border-radius: 10px;
}

/*SECOND-SPECIFIC*/
#boobs {
  margin-left: 12.5vw;
  margin-top: 15vw;
  width: 20vw;
}

.flowers {
  background-image: url(./assets/gsap/portalbg.jpg);
  background-position: center center;
}

.banner {
  height: 5vw;
}

.green {
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  /*  animation: scrollLeft 48s linear infinite; */
  padding-left: 101%;
  font-size: 1.5vw;
  padding-top: 0.75vw;
  color: hotpink;
  z-index: 10;
  cursor: grabbing;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
